<form #f="ngForm">
    <div class="row form-group">
        <label for="name_new">name</label>
        <input type="text" class="form-control" [ngModel]="newProductModel.name" #name="ngModel" name="name" id="name_new">
    </div>
    <div class="row form-group">
        <label for="price_new">price(RON)</label>
        <input type="number" step="0.01" class="form-control" [ngModel]="newProductModel.price" #name="ngModel" name="price" id="price_new">
    </div>
    <div class="row form-group">
        <label for="description_new">description</label>
        <textarea class="form-control" [ngModel]="newProductModel.description" #id="ngModel" name="description" id="description_new"></textarea>
    </div>
    <button class="btn btn-default" (click)="onAdd(f.value)">Add</button>
</form>